{% extends 'base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/detail_style.css' %}" />

<div class="feature">
<h1>{{  feature_name }}</h1>

<a href="{% url 'app:modify' feature_type feature_id %}">
    <button type="button">Modify</button>
</a>

<div>
<table>
<tr id="feature_list_left">
    {% for name in att_names %}
        <td>{{ name }}</td>
    {% endfor %}
    </tr>

    <div style="float:right; width:45%;">
    <ul>
    {% for att in att_value %}
        <li>{{ att }}</li>
    {% endfor %}
    </ul>
    </div>

</div>

{% endblock content %}
