{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/feature_style.css' %}" />

<?php header("Access-Control-Allow-Origin: *"); ?>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>


<div class="feature">

<ul id="option"> 
<li class="left_button"><a href="{% url 'app:add' feature_type %}">
    <button type="button">Add</button>
</a></li>

<li class="right_button"><a href="{% url 'app:search' feature_type %}">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-search"></span> Search
  </button>
</a></li>
</ul>

<ul id="feature_list">

  {% if feature_list %}
    {% if geometries != "" %}

      <div id='map' style='width: 500px; height: 300px;'></div>
<style>

.marker {
  background-image: url('https://www.mapbox.com/help/demos/custom-markers-gl-js/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


</style>

<script>
    // mapbox token
    mapboxgl.accessToken = 'pk.eyJ1IjoiZXZhY3lzIiwiYSI6ImNqbGhuem9nNDBib3kzb3Q1ZHlmcXYzOWYifQ.0Qp5uFE3uMjeb7V4Cn6Q3Q';
    // parse passed geojson string
//    var geometries = JSON.parse('{{ geometries | safe }}');
    // show map
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: [55.719998, -21.241202],
        zoom: 12
    });
    // show geojson geometries on mapbox
   // map.on('load', function () {
     //   map.addLayer({
       //     'id': '0',
         //   'type': 'circle',
           // 'source': {
             //   'type': 'geojson',
             //   'data': geometries
           //},

       // });
   // });
    var geojson = JSON.parse('{{ geometries | safe }}');
    // add markers to map
    geojson.features.forEach(function(marker) {

      // create a HTML element for each feature
      var el = document.createElement('div');
      el.className = 'marker';

      // make a marker for each feature and add to the map
      new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
      .setHTML('<h3>' + marker.properties.vd_name + '</h3>'))
      .addTo(map);
    });


</script>


        {% endif %}

      {% for feature in feature_list %}

            <li><a href="{% url 'app:detail' feature_type feature.vd_id %}">{{ feature.vd_name }}</a></li>

      {% endfor %}
    
  {% else %}
      <p>There is no {{feature_type}} available.</p>
  {% endif %}

</ul>

{% endblock content %}



